.Navbar{
  font-size: large;
  color: black;
  background-color: skyblue;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_list ul{
  display: flex;
  justify-content: space-around;
}
.navbar_list ul li{
  margin: 0px 50px;
  list-style: none;
}